<html>
    <head>
        <style>
             nav{
            height: 60px;
            background-color: rgb(15, 120, 240);
            text-align: center;
            line-height: 60px;
        }
    nav a{
        text-decoration: underline;
        text-decoration-style:wavy ;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        margin: 5px;
        
    }
        </style>
    </head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/check">check weather</a>
    </nav>
</body>
</html>